<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{form.media}}
    <title>Create a new blog post</title>
</head>
<body>
    <h1>Add a post</h1>
    <form action="#" method='POST'>
        {% csrf_token %}
        <!-- {{form.media}}
        {{form.as_p}} -->
        <input placeholder='post title' type="text" name="title" id="title"> <br><br>
        <textarea class="ckeditor" cols="30" id="editor1" name="body" rows="10"></textarea>
<script>
  CKEDITOR.replace( 'body' );
</script>
        <button>Post</button>
    </form>
</body>
</html>